/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.netflix-logo {
  height: 40px; /* Adjust size */
  width: auto;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: darkred;
}
